/* body * {
    border: 1px solid red;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 80%);
}

main {
    background-color: hsl(0, 0%, 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    padding: 35px;
    width: 250px;
}

ul {
    list-style-type: none;
}

.link {
    background-color: hsl(0, 0%, 40%);
    margin: 8px 0;
    border-radius: 5px;
    padding: 10px 0;
}

.attribution {
    justify-self: flex-end;
}

#link-container {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

a {
    padding: 5px
}